
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin: auto 0;
    padding: 0;
    line-height: 1.5;
}

header {
    border-bottom: orange 2px solid;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: black;
}

/* .zone {
    /* display:inline-block; */
/*    color:#FFF;
    font-size:2em;
} */

.logo {
    color: white;
    font-size: 0.8vh;
    text-transform: uppercase;
}

/* NAV */
.main-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    color: orange;
    font-size: 16px;
    min-height: 6vh;
    background: black;
}

.main-nav li a { 
    text-decoration: none;
    color:orange;
}
.main-nav li a:visited {
    text-decoration: none;
    color:orange;
}
.main-nav li a:hover {
    color: red;
    text-decoration: underline;
   /* text-decoration-color: orange;
    word-spacing: 5%; */
    transition: 1s;
}
.current-link {
    text-decoration:underline;
    color:orange;
}

li {
    padding: 20px;
}

a {
    color: orange;
    text-decoration: none;
}

.a:visited {
    text-decoration: none;
    color: orange;
}

#showcase {
    min-height: 40vh;
    background: url('/Peppercorn/img/coffee_cup_bg.jpg') no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: #ffffff;
    width: 100%;
    opacity: 0.9;
}

#aboutshowcase {
    min-height: 80vh;
    background: url('/Peppercorn/img/peppercornshop.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: #ffffff;
    width: 100%;
    opacity: 0.9;
}
section {
    display: block;
}
    

/* cover */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}




/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.top{ 
    background: black;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    color: orange;
    min-height: 6vh;
    border-bottom: orange;
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.mid{
    height:10vh;
    width: 100%;
}



/***********************************************************************
 *  Blue Background
 **********************************************************************/
.bot{
    font-size: 1em;
    background: #7abcff; /* Old browsers */

    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}